<section class="section courses-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Courses</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Oregon State University</h3>
                            <div class="time">Sep.2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"></div>
                    </div><!--//meta-->
                    <div class="details">
                    <ul>
                    <li>
		        CS 534: Machine Learning
                    </li>
		    <li>
                        CS 519: Deep Learning
                    </li>
		    <li>
                        CS 540: Database Management Systems
                    </li>
		    <li>
                        CS 533: Intelligent Agents and Decision Making (Reinforcement Learning)
                    </li>
		    <li>
                        CS 515: Algorithms and Data Structures
                    </li>
		    <li>
                        CS 550: Introduction to Computer Graphics
                    </li>
                    <li>
                        CS 572: Computer Architecture
                    </li>
		    <li>
                        CS 516: Theory of Computation
                    </li>
		    <li>CS 381: Programming Languages
		    <li>CS 290: Web Development		      
		    <li>CS 496: Mobile and Cloud Software Development
                    </div><!--//details-->
                </div><!--//item-->
                
             </section><!--//section-->    
