<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Oregon State University</h3>
                            <div class="time">Sep.2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>CS 519, Deep Learning</p> <div class="time">A</div>
                    </div><!--//details-->
                </div><!--//item-->
                
             </section><!--//section-->    
