<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
		<ul>
		  <li>Languages: Python, Java, C/C++, JavaScript, HTML/CSS, SQL, Haskell, Prolog, LATEX
		  <li>Toolkits: Node.js, Express, AJAX, scikit-learn, PyTorch, Keras, Hadoop, MySQL, MongoDB, OpenGL, Django, NLTK
		  <li>Other: Linux/Unix/OS X (Shell script), Git, Visual Studio, Eclipse, Android Studio, Bootstrap, iPython Notebook, Amazon Web Services (AWS) 
		</ul>
</section><!--//skills-section-->
